@import url('csvar.css');

form {
    position: absolute;
    top: 20%;
    left: 10svw;
    display: flex;
    flex-direction: column;
    width: 100svw;
    flex: 0 0 calc(33.333% - 10px); /*Adjust the column width as needed */
    max-width: calc(50.333% - 10px); /* Adjust the column width as needed */
    background-color: var(--bs-code-color);
    border-radius: 5px;
    padding :10px 0;
}


label {
    display: inline-block;
}

.flex 
{
    display: flex;
    flex-direction: row !important;
    justify-content: space-between !important;
}

.w_100 {
    width: 100% !important;;
}

.w_50 {
    width: 50% !important;
}
.mx-auto {
    margin-left: auto!important; 
    margin-right: auto!important; 
}
.input-group {
    position: relative;
    margin: 20px 20px;

}

.input-group label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 16px;
    color: #fff;
    padding: 0 5px;
    pointer-events: none;
    transition: .5s;
}

.input-group input {
    height: 40px;
    font-size: 16px;
    color: #fff;
    padding: 0 10px;
    background: transparent;
    border: 1.2px solid #fff;
    outline: none;
    border-radius: 5px;
}
.input-group select {
    margin-left: 40px;
}
.input-group input:focus~label,
.input-group input:valid~label,
 select:focus~label,
 select:valid~label {
    top: 0;
    font-size: 12px;
    background: var(--bs-red);
}

.select 
{
    width: 15%;
    margin: 20px 20px;
}

input[type=date]:required:invalid::-webkit-datetime-edit {
    color: transparent;
}
input[type=date]:focus::-webkit-datetime-edit {
    color: black !important;
}
.transparent {
    background-color: transparent!important;
}
textarea
{
    height: 200px;
    padding: 10px;
    font-size: 17.6px;
}
.label
{
    margin-top: 10px;
}

span {
    color : #fff;
}

button
{
    width: 50%;
    cursor: pointer;
    border-radius: 10px;
    height: 40px;
}