@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);
body 
{
    font-family:  'Open Sans'Arial, Helvetica, sans-serif;
    margin: 0;
}


html, body {
    height: 100%;
}

.containers {
    display: flex;
    justify-content: space-between;
    height: 100%;

}
/* Logo */

#logo-display {
    margin-top: 10px;
    width: 75%;
}
/* Logo Container */
.logo-container {
    height: 75%;
}

/* Logo Image */
.logo-img {
    height: 100%;
    position: relative; 
    left: 50%;
}

/* Login */
.login-containers 
{
    width: 30%;
    height: 70%;
    background-color: #e4e3e3;
    margin-top: 5rem;
    padding: 1.5rem;
    padding-top: 1.8rem;
    margin-left: 5rem;
    border-radius: 10px;
    margin-left: 5rem;
}
.containersReg
{
    display: flex;
    justify-content: center;
    height: 100%;

}
.reg-containers
{
    width: 50%;
    height: 25%;
    background-color: #e4e3e3;
    margin-top: 5rem;
    padding: 1.5rem;
    padding-top: 1.8rem;
    margin-left: 5rem;
    border-radius: 10px;
}
.sign-containers
{
    width: 30%;
    height: 92%;
    background-color: #e4e3e3;
    margin-top: 1rem;
    padding: 1.5rem;
    padding-top: 1.8rem;
    margin-left: 5rem;
    border-radius: 10px;
}


form
{
    padding: 3.5%;
    letter-spacing: .15rem;
}



#h-rule 
{
    width: 100%;
    margin: .7em auto;
    overflow: hidden;
    text-align: center;
    font-weight:300;
    color: #000;
}
#h-rule:before, #h-rule:after 
{
    content: "";
    display: inline-block;
    width: 50%;
    margin: 0 .5em 0 -55%;
    vertical-align: middle;
    border-bottom: 1px solid;
}
  #h-rule:after 
{
    margin: 0 -55% 0 .5em;  
}
span 
{
    display: inline-block;
    vertical-align: middle;
}

form div input
{
    letter-spacing: .15rem;
}

form p, div:last-child
{
    text-align: center;
}

form a {
    cursor: pointer;
    color: #000;
    text-decoration: none;
}

#logo-display {
    width: 60%;
}


.my-4 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.border {
    border: 1px solid #ced4da;
}

.container {
    display: flex;
    justify-content: space-between;
}

.my-4 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.border {
    border: 1px solid #ced4da; 
}

.form-controls {
    display: block;
    width: calc(100% - 50px); 
    padding: .75rem 1.5rem;
    font-size: 1.2rem;
    line-height: 1;
    color: #495057; 
    background-color: #fff;
    background-clip: padding-box;
    border-radius: 10px;
    border: 1px solid #ced4da;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


.bt {
    display: inline-block;
    font-weight: 600;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    border-radius: 10px;
    padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .3rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.bt-st {
    position: relative;
    left: -24px;
    width: 93%;
}

.bt-d {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
}

.bt-l {
    color: #212529; 
    background-color: #f8f9fa; 
    border-color: #f8f9fa; 
}

.fw-semibold {
    font-weight: 600;
}

.a {
    text-decoration: none;
    width: calc(100% - 40px);
}
.b {
    width: 100%;
}

.fs-6 {
    font-size: 1rem;
}

.txt {
    text-align: center;
}

#h-rule span {
    font-weight: bold;
}
