@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);
body 
{
    font-family:  'Open Sans'Arial, Helvetica, sans-serif;
}

/* Logo */

#logo-display {
    margin-top: 10px;
}

/* Logo */
.login-container 
{
    width: 40%
}
form
{
    padding: 4.5%;
    letter-spacing: .15rem;
}

form > div > button, .link
{
    width: 100%;
}


#h-rule 
{
    width: 100%;
    margin: .7em auto;
    overflow: hidden;
    text-align: center;
    font-weight:300;
    color: #000;
}
#h-rule:before, #h-rule:after 
{
    content: "";
    display: inline-block;
    width: 50%;
    margin: 0 .5em 0 -55%;
    vertical-align: middle;
    border-bottom: 1px solid;
}
  #h-rule:after 
{
    margin: 0 -55% 0 .5em;  
}
span 
{
    display: inline-block;
    vertical-align: middle;
}

form div input
{
    letter-spacing: .15rem;
}

form p, div:last-child
{
    text-align: center;
}

form a {
    cursor: pointer;
    color: #000;
    text-decoration: none;
}